* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  min-height: 100vh;
  background: url("./images/1137-blur.jpg");
  background-size: cover;
}

.soccer-field {
  background: url("./images/soccer1033.jpg");
  background-size: cover;
  min-height: 100%;
  margin: 0 10vh 10vh 10vh;
}
#wrapper {
  display: flex;
  border: 1px solid black;
  margin: 100px;
  height: 80dvh;
}

.h1s {
  font-size: 28px;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: black;
  padding: 50px 50px;
  margin: 0;
}

/* //////////////////////////////// Form Syle ///////////////////////////////////////// */
.form-c {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 10rem;
  justify-items: center;
  justify-content: space-around;
}
.form-d {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;
}

.submit {
  background: #e7b019 !important;
  color: #fff;
  width: 200px;
  height: 40px;
  border: 1px solid #e7b019;
  border-radius: 0.25rem;
  cursor: pointer;
}
.submit input[type="submit"]:hover {
  background: #e7b019;
}

/* //////////////////////////////// Players Syle ///////////////////////////////////////// */
.picture {
  width: 100px;
  height: 100px;
  border: 10px solid black;
}

.blocks {
  border: 10px solid red;
}

.table {
  display: flex;
  justify-content: center;
  border: 10px solid yellow;
}

#all-players-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  padding: 1em;
}

.Player {
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 8px;
  text-align: center;
}

.Player img {
  width: 100%;
  height: auto;
}

.Player h2,
.Player h3 {
  margin: 0;
}

.Player button {
  margin-top: 1em;
}

/* //////////////////////////////////////////////////////////// Try ////////////////////////////////// */

.player-details {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
  padding: 1em;
  justify-content: center;
  align-items: center;
  /* border: 5px solid white; */
  /* border-radius: 8px; */
  /* background-color: black; */
  margin: 1em 25%;
  text-align: center;
}

.player-details img {
  width: 100%;
  height: auto;
}

.player-details h2,
.player-details p {
  margin: 0.5em 0;
  text-decoration: double;
}
.player-details p {
  font-size: 20px;
  font-weight: 750;
  line-height: 2;
}
