* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

main {
  min-height: 100vh;
}
html {
  background: url("./images/1137.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.h1s {
  font-size: 28px;
  text-align: center;
  font-family: "Audiowide", sans-serif;
  color: black;
  padding: 50px 50px;
  margin: 0;
}

/* //////////////////////////////// Form Syle ///////////////////////////////////////// */
.form-c {
  display: flex;
  flex-wrap: wrap;
  justify-content: center !important;
  padding: 50px 50px;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 750;
  line-height: 2;
  width: 100%;
  height: auto;
  background-clip: padding-box;
  border-radius: 0.25rem;
  border: 10px solid #ced4da;
}

.submit {
  background: #e7b019 !important;
  color: #fff;
  width: 200px;
  height: 50px;
  border: 1px solid #e7b019;
  border-radius: 0.25rem;
  cursor: pointer;
}
.submit input[type="submit"]:hover {
  background: #e7b019;
}

/* //////////////////////////////// Players Syle ///////////////////////////////////////// */
.picture {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 200px;
  height: auto;
}

.blocks {
  border: 10px solid red;
}

.Player {
  border: 10px solid green;
  justify-content: center;
}

.table {
  display: flex;
  justify-content: center;
  border: 10px solid yellow;
}

/* //////////////////////////////////////////////////////////// Try ////////////////////////////////// */
